*__pycache__
*_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

*.pth
*.pt
*.tar
*.pkl
*.npy
*.ts
*.txt

*.ipynb
**/.ipynb_checkpoints/
*.cache/

*.swn
*.swo
*.swp
*~
*.DS_Store

.idea
.vscode
_darcs

*.png
*.json
*.diff
*.jpg
